.wrapper {
	display: flex;

}

.grid-full {
	width: 100%;
}

.grid-1-8 {
  width: 12.5%;
}
.grid-2-8 {
  width: 25%;
}
.grid-3-8 {
  width: 37.5%;
}
.grid-4-8 {
  width: 50%;
}
.grid-5-8 {
  width: 62.5%;
}
.grid-6-8 {
  width: 75%;
}
.grid-7-8 {
  width: 87.5%;
}