#cohorts-notice {
	margin: 0 auto;
	text-align: center;
}

h1.cohorts {
	 margin: 0 auto;
	 text-align: center;
}

ul.cohorts {
	list-style-type: none;
	padding-left: 0;
}

li.cohorts {
	margin: 0 auto;
}
.cohort-name,
.cohort-dates{
	display: inline;
}
.cohort-dates{
	text-align: right;
	float: right
}

.new-cohorts-link{
	text-align: center;
}
