<h1>New day!</h1>

<ul>
  <%= form_tag("/cohorts/#{@cohort}/students/date_records", method: :post) do %>
    <% @students.each do |student| %>
      <!--  -->
      <li>
        <div>
          <%= student.first_name %> <%= student.last_name %>
        </div>
        <div>
          <select name="<%= student.id.to_s %>" >
            <option value="present">Present</option>
            <option value="excused">Excused</option>
            <option value="unexcused">Unexcused</option>
            <option value="late">Late</option>
          </select>
          <!--  -->
        </div>
      </li>
    <%end%>
    <button>Submit</button>
  <%end%>
</ul>
