<h1>New day!</h1>

<ul>
  <%= form_tag("/cohorts/#{@cohort}/students/date_records", method: :post) do %>
    <% @students.each do |student| %>
      <!--  -->
      <li>
        <div>
          <%= student.first_name %> <%= student.last_name %>
        </div>
        <div>
          <input type="text" name=<%= student.id.to_s %> value = "present">
          <!--  -->
        </div>
      </li>
    <%end%>
    <button>Submit</button>
  <%end%>
</ul>
