<h1>Hello <%=@user.first_name%></h1>
<p>You have signed up for <%=@cohort.cohort_name%>.</p>
<%if @password != 0%>
	<p>Please <a href="https://floating-mesa-1461.herokuapp.com/">sign in</a> using the following login information:</p>
	<p>Email: <%=@user.email%></p>
	<p>Password: <%=@password%></p>
<%else%>
	<p>Please use your previous login information to view your cohort roster.</p>
<%end%>
<p>We look forward to seeing you in class</p>